
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      {{product.category}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img-top" src="../../assets/House1.jpg" alt="Card image cap">
        </div>
        <div class="col-md-6">
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3" style="font-weight: 600;margin-left: -25px;">Name:</div>
            <div class="col-md-9" >{{product.name}}</div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-md-3" style="font-weight: 600;margin-left: -5px; ">Description:</div>
            <div class="col-md-9" style=" margin-top: 5px;">{{product.description}}</div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-md-3" style="font-weight: 600; margin-left: -30px;">Price:</div>
            <div class="col-md-9" style=" margin-top: 5px;">{{product.price}}</div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="form-group">
  <label for="" style="margin-left: 15px;"><b>Quantity:</b></label>
            </div>
            <span style="margin-left: 5px;">
              <input class="form-control" style="margin-left: 50px;" placeholder="Quantity" [(ngModel)]="product.quantity"/>
            </span>
          </div>



        </div>
      </div>


    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-primary">Add to Cart</a>
      <a href="#" class="btn btn-danger">Cancel</a>
    </div>
  </div>

  </div>
